html, body {
   width: 100%;
   height: 100%;
   margin: 0px;
   border: 0;
   overflow: hidden; /*  Disable scrollbars */
   display: block;  /* No floating content on sides */
}

#canvas-holder {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 640px;
    height: 360px;
}

#upload {
	position: relative; 
    left: 0px; 
    top: 0px; 
    z-index: 1;
}

* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* stage-full-window */
body.stage-full-window { margin: 0; padding: 0; overflow: hidden; }
canvas.stage-full-window { width: 640px; height: 360px; position:fixed; }

/* stage-full-screen */
/* https://dvcs.w3.org/hg/fullscreen/raw-file/tip/Overview.html#:fullscreen-pseudo-class */
canvas.stage-full-screen:-webkit-full-screen {
  position:fixed; top:0; right:0; bottom:0; left:0; margin:0;
  box-sizing:border-box; width:100%; height:100%; object-fit:contain;
}

canvas.stage-full-screen:-moz-full-screen {
  position:fixed; top:0; right:0; bottom:0; left:0; margin:0;
  box-sizing:border-box; width:100%; height:100%; object-fit:contain;
}

canvas.stage-full-screen:fullscreen {
  position:fixed; top:0; right:0; bottom:0; left:0; margin:0;
  box-sizing:border-box; width:100%; height:100%; object-fit:contain;
}

/* TODO */

@media screen and (orientation:portrait) {
    /* CSS applied when the device is in portrait mode */
}

@media screen and (orientation:landscape) {
    /* CSS applied when the device is in landscape mode */
}